<div class="speech">
  <div class="premade">
    <div class="prev" *ngFor="let speech of searchSpeeches">
      <div class="deleteTTS" (click)="deleteTTS(speech.id, speech.language)">X</div>
      <div class="content" (click)="submitTTSRequest(speech.text)">
        {{ speech.text }}
      </div>
    </div>
  </div>
  <div class="new">
    <div class="options"></div>
    <div class="input">
      <div class="controls">
        <div class="control">
          <input type="checkbox" />
          <label>Complete</label>
        </div>
        <div class="control">
          <input type="checkbox" />
          <label>Suggestions</label>
        </div>
        <div class="control">
          <input type="checkbox" [(ngModel)]="autoplay"/>
          <label>Auto-play</label>
        </div>
        <div class="control">
          <input type="checkbox" [(ngModel)]="gpt4"/>
          <label>GPT-4</label>
        </div>
      </div>
      <textarea (keyup)="getSpeech($event)" id="textInput"></textarea>
    </div>
  </div>
</div>
